@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0px 100px;
    box-sizing: border-box;
    background: none;
    display: flex;
    border-top: 1px solid white;
    background: white;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
}

h2 a{
    color: black;
    text-decoration: none;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    top: 60px;
    left: 0;
    height: 100vh;
    overflow: hidden;
    width: 0px;
    background: rgba(0, 0, 0, .6);
    text-align: center;
    transition: .5s;
}

#close button{
    background: transparent;
    color: white;
    border: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.toggle button{
    padding: 5px 30px;
    background:transparent;
    outline: none;
    position: relative;
    color: white;
    border: 2px solid white;
}

.toggle button:hover{
    color: white;
}

.toggle button::before{
    content: 'Menu';
    background: black;
    height: 200%;
    width: 100%;
    position: absolute;
    top: -5;
    left: 0;
}

.toggle button:hover::before{
    width: 100%;
}

  ul li{
      display: inline-block;
      padding: 5px 15px;
      margin: 20px 0px;
      color: white;
  }

  ul li a{
      text-decoration: none;
      color: white;
      padding: 5px 20px;
  }

  ul li a:hover{
      background: #000;
      color: white;
  }

  span{
      color:black;
  }

  section{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px;      
      box-sizing: border-box;
      width: 100%;
      min-height: 100vh;
    }

    section p{
        font-size: px;
        text-align: center;
        margin-top: 30px;
    }

    section h1{
        font-size: 100px;
        text-align: center;
    }

section a{
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    background: #000;
    margin-top: 15px;
    color:white;
}

#top{
    position: absolute;
    background: black;
    color: white;
}